<!DOCTYPE html>

<html lang="en">
<partial name="MySecondLayout/HeadPart1"></partial>/>
<body>
<partial name="MySecondLayout/NawPart2"></partial>/>
<partial name="MySecondLayout/HeaderPart3"></partial>/>
<partial name="MySecondLayout/PortfolioPart4"></partial>/>
<partial name="MySecondLayout/PrimaryPart5"></partial>/>
<partial name="MySecondLayout/PagePart6"></partial>/>
<partial name="MySecondLayout/FooterPart7"></partial>/>
@RenderBody()
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright &copy; Your Website 2023</small></div>
    </div>
<partial name="MySecondLayout/ModalPart8"></partial>/>
<partial name="MySecondLayout/ModalPart9"></partial>/>
<partial name="MySecondLayout/ModalPart10"></partial>/>
<partial name="MySecondLayout/ModalPart11"></partial>/>
<partial name="MySecondLayout/ModalPart12"></partial>/>
<partial name="MySecondLayout/ModalPart13"></partial>/>
<partial name="MySecondLayout/ScriptsPart"></partial>/>
</body>
</html>